<div *ngIf="courseExam">
    <div class="brand-card px-4 py-3 card-body-title mt-3">
        <div class="row s--list-group pt-3 pb-3">
            <div class="col-lg-9">
              <div class="text-secondary text-uppercase mb-1" [attr.lang] = "currentLanguage" [translate]="'CoursesLocal.GradingStatus'"></div>
              <span class="font-lg" [ngClass]="{'text-primary': courseExam.status.alternateName ==='open',
                                'text-danger':courseExam.status.alternateName ==='closed',
                                'text-warning':courseExam.status.alternateName ==='inprogress',
                                'text-success':courseExam.status.alternateName ==='completed'}">
                {{'CoursesLocal.GradingStatusTypes.' + courseExam.status.alternateName | translate}} -
                <span *ngIf="this.myHistory && this.myHistory.length > 0; else noHistory">
                  <span [translate]="'CoursesLocal.YourSubmitDate'"></span>
                {{subDate | localizedDate: 'short'}} </span>
                <ng-template #noHistory>
                  <span [translate]="'CoursesLocal.ClosedGrading'"></span>
                </ng-template>
              </span>
              <div *ngIf="courseExam.status.alternateName === 'inprogress' && this.loggedInstructor.user !== courseExam.completedByUser" [translate]="'CoursesLocal.RespondMessages.locked'"></div>
              <div *ngIf="courseExam.status.alternateName !== 'inprogress'" class="row pl-3 mb-2 text-gray-600">{{'CoursesLocal.RespondMessages.' + courseExam.status.alternateName | translate}}</div>
            </div>
            <div class="row no-gutters col-lg-3">
              <div class="btn-group col-md-4 col-lg-12" dropdown>
                <button id="download" type="button" dropdownToggle aria-controls="dropdown" class="btn btn-universis rounded responsive-width px-2 pd-1 d-none d-sm-inline-flex justify-content-between align-items-center text-truncate">
                  <i class="fa fa-chevron-circle-down fa-lg"></i>
                  <span class="d-print-block align-self-center" [translate]="'CoursesLocal.DownloadGrades'"></span>
                  <span></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="download">
                  <li role="menuitem" class="dropdown-item" (click)="exportGrades(courseExam,false)">
                    <div [translate]="'CoursesLocal.DownloadXLSX'"></div>
                  </li>
                  <li role="menuitem" class="dropdown-item" (click)="exportGrades(courseExam,true)">
                    <div [translate]="'CoursesLocal.DownloadCSV'"></div>
                  </li>
                  <ng-container *ngIf="courseExamReports && courseExamReports.length>0">
                  <li *ngFor="let report of courseExamReports" role="menuitem" class="dropdown-item" (click)="printGrades(report,courseExam)">
                    <div>{{report.name}}</div>
                  </li>
                  </ng-container>
                </ul>
              </div>
                <button [disabled]="courseExam.status.alternateName === 'closed' || isLocked" type="button" class="btn btn-active-color btn-success rounded responsive-width px-2 d-none d-sm-inline-flex justify-content-between align-items-center text-truncate col-md-4 col-lg-12 mt-1 mt-md-0 mt-lg-1 ml-0 ml-md-1 ml-lg-0" (click)="importGrades(courseExam.id)">
                  <i class="fa fa-chevron-circle-up fa-lg"></i>
                  <span class="d-print-block align-self-center" [translate]="'CoursesLocal.CommitGrades'"></span>
                  <span></span>
                </button>
              <div class="btn-group col-12" dropdown>
                <button id="downloadSmall" type="button" dropdownToggle aria-controls="dropdownSmall" class="btn btn-universis rounded responsive-width px-2 pd-1 d-inline-flex d-sm-none justify-content-between align-items-center text-truncate col-12">
                  <i class="fa fa-chevron-circle-down fa-lg"></i>
                  <span class="d-print-block align-self-center" [translate]="'CoursesLocal.DownloadSmall'"></span>
                  <span></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="download-small">
                  <li role="menuitem" class="dropdown-item" (click)="exportGrades(courseExam,false)">
                    <div [translate]="'CoursesLocal.DownloadXLSX'"></div>
                  </li>
                  <li role="menuitem" class="dropdown-item" (click)="exportGrades(courseExam,true)">
                    <div [translate]="'CoursesLocal.DownloadCSV'"></div>
                  </li>
                  <ng-container *ngIf="courseExamReports && courseExamReports.length>0">
                    <li *ngFor="let report of courseExamReports  " role="menuitem" class="dropdown-item" (click)="printGrades(report,courseExam)">
                      <div>{{report.name}}</div>
                    </li>
                  </ng-container>
                </ul>
              </div>
                <button [disabled]="courseExam.status.alternateName === 'closed' || isLocked" type="button" class="btn btn-active-color btn-success rounded responsive-width px-2 d-inline-flex d-sm-none justify-content-between align-items-center text-truncate col-12 mt-1 ml-0" (click)="importGrades(courseExam.id)">
                  <i class="fa fa-chevron-circle-up fa-lg"></i>
                  <span class="d-print-block align-self-center" [translate]="'CoursesLocal.CommitSmall'"></span>
                  <span></span>
                </button>
            </div>
        </div>
    </div>

  <app-courses-details-exam-participants [courseExam]="courseExam"></app-courses-details-exam-participants>

  <div class="brand-card px-4 py-3 card-body-title mt-3">
    <div class="row s--list-group pt-3 pb-3">
        <div class="col-lg-9">
          <div class="text-secondary text-uppercase mb-1" [attr.lang] = "currentLanguage" [translate]="'CoursesLocal.ExamMessage.Communication'"></div>
          <span class="font-lg text-gray-600" [translate]="'CoursesLocal.ExamMessage.Description'"></span>
        </div>
        <div class="row no-gutters col-lg-3">
          <button [disabled]="courseExam.status.alternateName === 'closed' || isLocked"
            (click)="openMessageToParticipantsModal()"
            type="button" class="btn btn-active-color btn-light rounded responsive-width px-2 d-none d-inline-flex justify-content-center align-items-center text-truncate col-md-4 col-lg-12 mt-2 mb-2 mt-md-0 mt-lg-1 ml-0 ml-md-1 ml-lg-0"
          >
            <span class="d-print-block align-self-center" [translate]="'CoursesLocal.ExamMessage.Communication'"></span>
          </button>
        </div>
    </div>
  </div>

  <!-- Charts -->
  <div class="row s--list-group my-3 pl-0">
    <div class="col-12" *ngIf="!isLoading">
      <h5 [translate]="'CoursesLocal.Chart.Statistics'"></h5>
        <div class="row border-bottom py-2 ml-1">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 pl-0">
            <span [translate]="'CoursesLocal.Chart.Exam'"></span>
          </div>
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
            {{studentsRegisters}} <span [translate]="'CoursesLocal.Chart.Registered'"></span>
          </div>
        </div>
        <div class="row border-bottom py-2 ml-1">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 pl-0">
            <span [translate]="'CoursesLocal.Chart.Graded'"></span>
          </div>
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
            {{studentsGraded}}
          </div>
        </div>
        <div class="row border-bottom py-2 ml-1">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 pl-0">
            <span [translate]="'CoursesLocal.Chart.Succeeded'"></span>
          </div>
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
            {{studentsSucceeded}}
          </div>
        </div>

        <div class="row my-5 px-lg-5 px-md-3 px-1" *ngIf="studentsSucceeded>0" style="height: 300px">
          <div class="col-12">
            <h6 [translate]="'CoursesLocal.Chart.GroupByGrade'"></h6>
          </div>
          <canvas baseChart
                  [datasets]="chartGradesData"
                  [labels]="chartGradesLabels"
                  [options]="chartGradesOptions"
                  [legend]="chartGradesLegend"
                  [chartType]="chartGradesType"
                  [colors]="chartGradeColours">
          </canvas>
        </div>
      <!-- ./Charts -->
    </div>
  </div>

    <!-- History of Upload Grades -->
  <div class="d-block d-md-table" style="border-spacing: 0px 0.5rem;">
    <h5 class="mb-3" [translate]="'CoursesLocal.HistoryChanges'">
    </h5>

    <div *ngIf="this.uploadHistory && this.uploadHistory.length == 0" [translate]="'CoursesLocal.NoHistorySubmissionMsg'">
    </div>
    <div class="d-md-table-row row align-items-center" *ngIf="uploadHistory && uploadHistory.length">
      <div class="d-none d-md-table-cell col-auto text-gray-600 pl-0 font-weight-bold">
        {{'CoursesLocal.Modal.Step3.DateSubmission'| translate}}
      </div>
      <div class="d-md-table-cell d-none  col-auto text-gray-600 font-weight-bold">
        {{'User'| translate}}
      </div>
      <div  class="d-md-table-cell d-none col-auto text-gray-600 font-weight-bold" >
        {{'CoursesLocal.Modal.Step3.CheckHashKey'| translate}}
      </div>
    </div>

    <div class="d-md-table-row row align-items-center" *ngFor="let history of uploadHistory">
      <div *ngIf="history.additionalResult" class="d-none d-md-table-cell col-auto text-gray-600 pl-0">
        {{history.additionalResult.dateCreated | localizedDate: 'short'}} ({{'CoursesLocal.ActionStatusTypes.' + history.actionStatus.alternateName | translate}})
      </div>
      <div *ngIf="history.additionalResult && history.additionalResult.user.id != loggedInstructor?.user" class="d-md-table-cell col-md-auto col-sm-7 col-xs-12 text-gray-600">
        {{history.additionalResult.user.name}}
      </div>
      <div *ngIf="history.additionalResult && history.additionalResult.user.id === loggedInstructor?.user" class="d-md-table-cell col-md-auto col-sm-7 col-xs-12 text-gray-600" [ngClass]="{'font-weight-bold': history.attachments !=0}">
        {{loggedInstructor.givenName}} {{loggedInstructor.familyName}} ({{'Me' | translate}})
      </div>
      <div *ngIf="history.additionalResult" class="d-none d-md-table-cell col-auto text-gray-600">
        {{history.additionalResult.checkHashKey}}
      </div>
      <div *ngIf="history.additionalResult" class="col-md-12 d-block d-md-none text-secondary">
        {{history.additionalResult.checkHashKey}}
      </div>
      <div class="col-md-12 d-block d-md-none text-secondary  pb-1">
        <div *ngIf="history.additionalResult">{{history.additionalResult.dateCreated | localizedDate: 'short'}}
          <i class="fa" [ngClass]="{'fa-check' : history.actionStatus?.alternateName === 'CompletedActionStatus',
              'fa-hourglass' : history.actionStatus?.alternateName === 'ActiveActionStatus',
              'fa-times' : history.actionStatus?.alternateName === 'FailedActionStatus'
              }">
          </i>
        </div>
      </div>

      <div class="col-md-auto col-sm-5 col-xs-12 align-items-end pb-2">
        <div class="d-md-table-cell">
          <ng-container
            *ngIf="actionReports && actionReports.length>0 && history.additionalResult && history.additionalResult.user.id === loggedInstructor?.user && history.attachments !=0">
            <button class="btn bg-indigo text-white  font-sm btn-sm" *ngFor="let report of actionReports"
                    (click)="printGrades(report,history)" [title]="report.name">
              <i class="fa fa-file-pdf-o"></i>
            </button> &nbsp;
          </ng-container>
          <button class="btn bg-gray-400 text-white font-sm btn-sm" *ngIf="history.attachments !=0"
                  (click)="historyGrades(history.attachments)" [title]="'CoursesLocal.SubmittedFile' | translate"><i
            class="fa fa-file-excel-o"></i></button>


        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-center" *ngIf="actionReports && actionReports.length>0 && uploadHistory && uploadHistory.length" class="pb-2">
    <div class="text-gray-600 pl-0  font-lg">
      {{'CoursesLocal.FileInfo'| translate}}
    </div>

  </div>
</div>
